/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: image-url('geo.png') no-repeat fixed center;
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  background-size: cover;
}

html {
  min-height: 100%;
}

.footer {
  padding-top: 19px;
  color: black;
  border-top: 1px solid black;
  text-align: center;
}

[class*='col-'] {
  padding: 10px;
}

input {
  height: auto !important;
}

// *Links* //

a, a:link, a:visited, a:hover {
  text-decoration: none;
}

a:visited {
  color: #5bc0de;
}

a:hover {
  background-color: transparent;
}

a.destroy {
  color: red;
}

a.edit {
  color: #ffa31a;
}

a.new, a.all, a.new_distance {
  color: #5bc0de !important;
}

// *Button 'to top'* //

#btn_top {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 60px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #5bc0de;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#btn_top:hover {
  background-color: #555;
}

// *Alerts* //

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

// *Cards* //

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 99%;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #5bc0de;
}

.card:hover {
  box-shadow: 0 8px 36px 0 rgba(0,0,0,0.4);
}

img {
  border-radius: 5px 5px 5px 5px;
  width: 100%;
}

.card-text {
  padding: 2px 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}

// *Other* //

.page-header {
  color: #0059b3;
  line-height: 0.8;
  text-decoration: underline;
  font-family: "Lucida Console", Lucida, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-variant: small-caps;
}

#map {
  height: 500px;
  width: 100%;
}

.jumbotron {
  background-color: white;
}

.text-left b {
  color: #0059b3;
}

input#search {
  width: 150px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

input#search:focus {
  width: 250px;
}